* {
	margin: 0 auto;
}
body {
	text-align: center;
	background-color: #272525;
	color: #eeeeee;
	font-family: 'Inconsolata', monospace;
}

.hard6 {
	margin-left: 2px;
}

.headerPic {
	height: 400px;
}

p {
	font-size: 20px;
}

img {
	width: 100%;
	height: 100%;
}

.pressBegin {
	margin: 20px;
}

button {
	margin:20px;
	background-color: #CB045B;
    border: none;
    color: #272525;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}